.tour-offer-info{
}

.tour-offer-image{
  height: 30vh;
}

.tour-offer-wide-icon{
  width: 1.3rem;
  border-radius: 3px;
  filter: invert(100%);
}

.tour-offer-wide-price-wrapper{
  text-align: justify;
}

.tour-offer-prev-price{
  font-size: 1.5rem;
}

.tour-offer-wide-price{
  font-size: 3.9rem;
  line-height: 2.9rem;
}

.text-light-grey{
  color: rgba(255,255,255,.8);
}