@import "../global";

@media screen and (max-width: 800px) {

  .tour-cities-img{
    object-fit: cover;
    height: 30vh;
  }

  .tour-city-title{
    background-color: rgba(0,0,0,.5);
    color: white;
    font-size: 2.0rem !important;
    padding: .2rem .5rem;
    margin-bottom: .05rem !important;
  }

  .tour-city-title-before{
    display: inline-block !important;
  }

  .tour-cities:nth-of-type(2n){
    flex-direction: row;
  }

  .tour-cities-info{
    transform: translateY(-2.6rem);
  }


}

@media screen and (min-width: 1200px) {
  .tour-cities-img{
    height: 70vh !important;
    object-fit: cover;
  }
}



.tour-cities:nth-of-type(2n){
  flex-direction: row-reverse;
}


.tour-city-title-before{
  display: none;
  font-size: 0.6em;
}

.tour-cities-caption{
  z-index: 400;
  background-color: $color-info;
  color: white;
  top: 1.3rem;
  padding: .15rem 1.4rem;
}


