.tour-flights-aviation-icon--departure{
  width: 1.7rem;
  filter: invert(25%);
  transform: rotate(90deg) translateX(30%);
}

.tour-flights-aviation-icon--arrival{
  width: 1.7rem;
  filter: invert(25%);
  transform: rotate(-90deg) translateX(-30%);
}

.reduced-line-height{
  line-height: .7rem;
}

.tour-flights-caption-space{
  transform: translateY(15%);
}

.tour-flights-aviation-img{
  max-height: 3rem !important;
  object-fit: cover;

}
